<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    
    <div th:each="public : ${publicacao}">
         <a href="" th:attr="href=@{${public.nome}}" th:text="${public.nome}"></a>
        <p th:text="${public.comentario}"></p>
        <a href="">Deletar Comentário</a>
    </div>

</body>
</html>